//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #154886;
$success: #25BB69;
$danger: #EC2026;
$info: #00DCF5;
$warning: #FFA047;
